# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
ENV/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output and logs
output/
*.log

# Ignore secrets
*.env
.env.*

# Ignore test artifacts
*.pytest_cache/
